
/* Estilo para el body */
body {
    font-family: sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* Asegura que la altura sea de la pantalla completa */
    margin: 0; /* Elimina el margen por defecto */
}

/* Estilo para el contenedor de contenido */
.contenido {
    text-align: center; /* Centra el texto */
    width: 80%; /* Porcentaje del ancho */
    max-width: 800px; /* Ancho del contendor  */
    padding: 20px; /* Añade espacio interno */
    box-sizing: border-box; /* Asegura que el padding se incluya dentro del ancho total */
}